<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzurePOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AzurePOS.Properties.Settings.StorageConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=gsp8181;AccountKey=7JIBXG9bNZrB6fDYI/afz+z4CVYMNAmltg8sgduXU1x6275W6ItXF+dyCAGZWABrZDToTxdA/EoXsqFZe/d1Pw==" />
        <add name="AzurePOS.Properties.Settings.DevStorageConnectionString"
            connectionString="UseDevelopmentStorage=true;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AzurePOS.Properties.Settings>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="Stored" serializeAs="String">
                <value>False</value>
            </setting>
        </AzurePOS.Properties.Settings>
    </userSettings>
</configuration>